<div class="main">
  <div class="containers" style="margin-top: 50px;">
    <p>Nombre: {{p.name}}</p>

    <p>Descripción: {{p.description}}</p>

    <p>AR$ {{p.price}}</p>

    <p>Categoría: {{p.category}}</p>

    <p>Stock: {{p.stock}}</p>
    <button>Añadir al carrito</button>

  </div>
  <a
    href="http://localhost:3000/products"
    style="color: white; margin-top: 25px"
  >Volver atrás</a>
</div>